@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {                                             
  margin: 0;
  box-sizing: border-box;
  background-color:  rgba(189, 200, 211, 0.938);
}

.app-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}
.list{
    border: solid teal 5px
}
.expense-cont{
    border: solid black 2px;
    background-color: rgba(202, 209, 218, 0.938);
}

.form-container{
    border: solid rgb(6, 63, 6) 5px
}
body {
  background-color: #eaeef39d;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: var(--mainWhite);
  letter-spacing: 3px;
  color: #042e72;
  margin-top: 80px;
  font-size: 40px
}
.form{
    background-color: rgba(202, 209, 218, 0.938);
 
}
.btn-cont{
    background-color: rgba(202, 209, 218, 0.938);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.total-spending{
    font-size: 30px;
}
.App {
  margin: 0 auto;
  background-color: rgba(202, 209, 218, 0.938);
  border-radius: 6px;
  box-shadow:  #021636 3px 6px 7px ;
  border: solid #053a8f 5px;
  width: 200px;
}
.form-center {
  display: flex;
  justify-content: space-around;
  background-color: rgba(202, 209, 218, 0.938);

}
.form-group {
    background-color: rgba(202, 209, 218, 0.938);
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 140px;
          
}
label {
  display: block;
  font-size: 24px;
  text-transform: capitalize;
}
.form-cont > form > div > div > div:nth-child(1) > label{
    background-color: rgba(202, 209, 218, 0.938);

}
.form-cont > form > div > div > div:nth-child(2) > label{
    background-color: rgba(202, 209, 218, 0.938);

}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mainGrey);
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}
.btn {
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  border: solid  rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  display: block;
  height: 30px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: progress;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 131px;  
}


.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-icon {
  margin-left: 0.75rem;
  font-size: .75rem;
}
.list {
  margin: 2rem 0.75rem 0 0.75rem;
  list-style-type: none;
  border: none;
  padding: 0;
}
.item {
  line-height: 1.5rem;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.list-cont{
  background-color: rgba(202, 209, 218, 0.938);
}
.list-cont > ul > div > li{
  background-color: rgba(202, 209, 218, 0.938);
}
.list-cont > ul > div > li > div.info > span.expense{
  background-color: rgba(202, 209, 218, 0.938);  
}
.list-cont > ul > div > li > div:nth-child(2) > button.edit-btn{
  background-color: rgba(202, 209, 218, 0.938);   
}
.list-cont > ul > div > li > div:nth-child(2) > button.clear-btn{
  background-color: rgba(202, 209, 218, 0.938);   
}
.list-cont > ul > div > li > div:nth-child(2) > button.edit-btn > svg{
    background-color: rgba(202, 209, 218, 0.938);  
}
.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}
.info {
  background-color: rgba(202, 209, 218, 0.938);
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
.expense {
  margin-right: 2rem;
  text-transform: capitalize;
}
.amount {
  font-weight: 300;
  font-size: 1rem;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  border-radius: 2px;
  padding: 1px 3px;
}

.edit-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}
.clear-btn {
  color: var(--mainRed);
}
.edit-btn {
  color: var(--mainGreen);
}
.total {
  font-weight: 300;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  border-radius: 2px;
  padding: 2px 5px;
}
.alert {
  padding: 0.75rem 1.25rem;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  width: 90%;
  margin: 2rem auto 0 auto;
  border-radius: 2px;
  text-transform: capitalize;
}
.alert-danger {
  background: var(--mainRed);
}
.alert-success {
  background: var(--mainGreen);
}



@media only screen and (min-width: 375px) and (max-width: 767px) {
    .App,
    .list,
    .alert {
      width: 85%;
    }
  
    .list {
      margin: 2rem auto 0 auto;
    }
    .form-group {
      margin-left: 11px;
      width: 23vw;         
  }
  .item{
      width: 69vw;
      padding: 0px 5px;
  }
  .list-cont > ul > div > li > div.info > span.expense {
    font-size: 14px;
    }
    .amount{
        font-size: 14px;
    }
    .edit-btn{
        font-size: .95rem;
    }
    .clear-btn{
        font-size: .85rem;
    }
    label{
        font-size: 20px;
    }
    .btn {
        font-size: 7px;
        height: 24px;
        line-height: 20px;
        width: 131px; 
        margin-bottom: 4px;    
      }
    h1{
        font-size: 32px;
    }
    .total-spending {
        font-size: 24px;
    }  
}
@media only screen and (min-width: 768px) {
    .App,
    .list,
    .alert {
      width: 70%;
    }
    .list {
      margin: 2rem auto 0 auto;
    }
    .info {
      flex: 0 0 50%;
    }
    .form-group {
      width: 20vw;
      margin-left: 70px;       
    }
    label{
        font-size: 26px;
    }
    .form-control{
        margin: 0px 0 8px 23px;
    }
    .btn {
        font-size: 7px;
        height: 23px;
        line-height: 20px;
        width: 124px; 
        margin-bottom: 4px;    
    }
    .item{
        width: 47vw;
        padding: 0px 5px;
    }
  
  
    
}


